# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# System files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Postman temp files
*.postman_environment.json
*.postman_globals.json

# OS-specific
*.swp
